#nome {
    color:#56070c;
    font-size:10px;
    border: solid 2px black;
font-size:30px;
}
#email{

    color: blue;
    font-size:30px;
    border: solid 2px greenyellow;
}
#idade{
    color:brown;
    font-size:30px;
    border:solid 1px black;
    border-radius: 4px;
}
#enviar{
   color:white;
   font-weight:600;
   font-size:30px; 
   background-color: blue;
   height:40px;
   width:110px;
}
#botaoenviar{
margin-top:130px;
 margin-left:30px;
 position:absolute;
}
#conjunto{
    background-color:aqua;
    position:absolute;
}
#retornoLista{
    display:grid;
    position:absolute;
    margin-left:400px;
    margin-top:10px;
    gap:30px;
}
#container{
    margin-left:400px;
    
    position:absolute;
    margin-top:10px;
    background-color:blueviolet;
}
#registros{
    margin-top:170px;
    position:absolute;
    background-color:blueviolet;
    color:white;
    font-size:30px
}
#apag{
    color:white;
    font-size:18px;
    background-color:red;
position:absolute;
margin-top:170px;
margin-left:140px;
}
#inserirId{
    font-size:20px;
    color:brown;
    position:absolute;
    margin-top: 190px;
}
#apagUser{
position:absolute;
margin-top:210px;
font:18px;
color:white;
background-color:black;
}
#buscarUser{
    position:absolute;
    background-color:orangered;
    color:black;
    font:18px;
    margin-top:210px;
    margin-left:108px;
}
#idUser{
    position:absolute;
    margin-top:233px;
    border:solid green 10px;
    background-color:greenyellow;
    color:darkred;
    border-radius:0 20px 0 20px;
}
#criarMissao{
position:abosolute;
}
#admitirMissao{
background-color:blue;
position:absolute;
}
#mostrarMissao{
position:absolute;
color: blue;
}
#deletar{
    position:absolute;
    background-color:red;
    color:white;
}
#segElement{
    position:absolute;
    margin-top:120px;
}
#findMissao{
    position:absolute;
    background-color:purple;
    color: cyan;
    margin-left:55px;
}
#mais{
    position:absolute;
    margin-top:400px;    
}
#campinho{
    padding:3px;
    color:white;
    background-color:blueviolet;
border:solid 10px purple;
border-radius:30px 0 30px 0;
}